<style></style>

<main class="main">
  <div class="content">
    <div class="pill-group">
      <li
        *ngFor="
          let item of [
            { title: 'About', link: '/about' },
            { title: 'Home', link: '/home' }
          ]
        "
      >
        <a [routerLink]="item.link"> {{ item.title }} </a>
      </li>
    </div>
  </div>
</main>

<div class="content">
  <input [(ngModel)]="title" #ctrl="ngModel" required />
  <p>Value: {{ title }}</p>
  <p>Valid: {{ ctrl.valid }}</p>
  <button (click)="setValue()">Set value</button>
  <br />
  <input #inputRef type="text" />
  <button (click)="inputRef.value = ''">Clear</button>
  <button (click)="clearInput()">Clear2</button>
</div>

<router-outlet />

<app-data-table
  [columns]="[
    { title: 'Name', key: 'name' },
    { title: 'Birthday', key: 'birthday' },
    { title: 'Action', key: 'action' }
  ]"
  [datas]="[
    { name: 'Jac', birthday: '1988-06-06' },
    { name: 'Amy', birthday: '2000-05-06' },
    { name: 'John', birthday: '1996-03-21' }
  ]"
>
  <ng-template #tmpl let-item>
    <ng-container *ngIf="item.key !== 'action'; else action">
      {{ item.data }}
    </ng-container>
    <ng-template #action>
      <button>add</button>
      <button>update</button>
      <button>delete</button>
    </ng-template>
  </ng-template>
</app-data-table>
