<style></style>

<main class="main">
  <div class="content">
    <div class="pill-group">
      <li
        *ngFor="
          let item of [
            { title: 'About', link: '/about' },
            { title: 'Home', link: '/home' }
          ]
        "
      >
        <a [routerLink]="item.link"> {{ item.title }} </a>
      </li>
    </div>
  </div>
</main>

<div class="content">
  <input [(ngModel)]="title" #ctrl="ngModel" required />
  <p>Value: {{ title }}</p>
  <p>Valid: {{ ctrl.valid }}</p>
  <button (click)="setValue()">Set value</button>
  <br />
  <input #inputRef type="text" />
  <button (click)="inputRef.value = ''">Clear</button>
  <button (click)="clearInput()">Clear2</button>
</div>

<router-outlet />
